<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="CAMECA-dev" value="https://www.myget.org/F/cameca-extensions-dev/api/v3/index.json" protocolVersion="3" />
		<add key="CAMECA-dev (Preview)" value="https://www.myget.org/F/cameca-extensions-dev-preview/api/v3/index.json" protocolVersion="3" />
	</packageSources>
</configuration>
